@font-face {
    font-family: 'pacfont';
    src: url('src/assets/fonts/pacfont.ttf');
}

*, *::before, *::after {
    outline: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #222;

    height: 100vh;
    display: grid;
    justify-items: center;
    align-items: center;

    overflow:hidden;
}

h2 {
    font-family: "pacfont", sans-serif;
    margin-bottom: 1em;
    color: white;
    font-size: 1em;
}

p {
    font-family: "pacfont", sans-serif;
    color: white;

    text-align: center;
    margin-top: 11px;
}

canvas {
    border-radius: 20px;
    position: relative;
    height: calc(100vh - 9vh);
}

form {
    position: absolute;
    top: 35%;
    left: 25%;

    width: 17em;
}
form>input[type="email"] {
    padding: 10px 10px;
    font-size: .9em;

    border: 2px solid white;
    color: white;
    background-color: transparent;
    display: block;

    font-family: "pacfont", sans-serif;
    width: 100%;
}
form>input[type="email"]::placeholder {
    font-size: .9em;
}
form>button {
    font-family: "pacfont", sans-serif;
    width: 100%;
    padding: 10px 10px;
    margin-top: 16px;

    cursor: pointer;
    background-color: white;
    border: unset;
    color: #1d1635;
}

@media screen and (max-width: 613px) {
    canvas {
        width: calc(100% - 10%);
        height: calc(100vh - 10em);
    }
}
@media screen and (max-width: 513px) {
    canvas {
        height: calc(100vh - min(20em, 30%));
    }
}
@media screen and (max-width: 455px) {
    canvas {
        width: calc(100% - 1%);
    }
}
@media screen and (max-width: 391px) {
    form>input[type="email"], form>button {
        font-size: .5em;
    }
    form>input[type="email"] {
        padding: 10px 10px;
    }
}